<!-- Back -->
<div class="container1">
    <div id="home">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left"></i> Home</a>
            </div>
        </div>
    </div>
</div>
<!-- /Back -->