<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sorry</title>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
            integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <style>
        *{
            color: rgb(145 33 48);
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        .container{
            display: flex;
            justify-content: center;
            background-color: rgb(32 36 40);
            height:100vh;
        }
        .card{
            margin: 3%;
            border: 1px solid crimson;
            padding: 20px;
            height: 15%;
            width: 40%;
            border-radius: 10px;
            background-color:rgb(249 221 223);
        }
        .row1{
            font-size: xx-large;
        }

        p{
            padding-top: 3%;
            font-size: x-large;
        }
    </style>
    </head>
    <body>
        <div class="container">
            <div class="card">
                <div class="row1">
                    <i class="fas fa-warning"></i>
                    <span>OOPS!!!</span>
                </div>
                <p>No Companies for you. Better Luck Next Time!</p>
            </div>
        </div>
    </body>
</html>